USE [Demo]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 6/11/2019 4:10:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ActivityLogs]    Script Date: 6/11/2019 4:10:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActivityLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Operation] [nvarchar](max) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[category] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.ActivityLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Admin]    Script Date: 6/11/2019 4:10:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CustumerId] [nvarchar](max) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[RegisterDate] [date] NOT NULL,
	[Categoty] [nvarchar](max) NOT NULL,
	[email1] [nvarchar](max) NOT NULL,
	[email2] [nvarchar](max) NULL,
	[Phone1] [nvarchar](max) NULL,
	[PanNo] [bigint] NULL,
	[URL] [nvarchar](max) NULL,
	[CustomerType] [nvarchar](max) NULL,
	[Detail] [nvarchar](max) NULL,
	[WorkingArea] [nvarchar](max) NULL,
	[NatureOfWork] [nvarchar](max) NULL,
	[CitizenShipPhoto] [nvarchar](max) NULL,
	[CompanyDocument] [nvarchar](max) NULL,
	[Logo] [nvarchar](max) NULL,
	[PpsizePhoto] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Admin] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AssignPackages]    Script Date: 6/11/2019 4:10:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssignPackages](
	[AssignPackageId] [int] IDENTITY(1,1) NOT NULL,
	[PackageId] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[AssignDate] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AssignPackages] PRIMARY KEY CLUSTERED 
(
	[AssignPackageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[cart]    Script Date: 6/11/2019 4:10:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cart](
	[CartId] [int] IDENTITY(1,1) NOT NULL,
	[GoodName] [nvarchar](max) NOT NULL,
	[price] [decimal](18, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Subtotal] [decimal](18, 2) NOT NULL,
	[ProductId] [int] NOT NULL,
	[VatAmount] [decimal](18, 2) NOT NULL,
	[vat] [decimal](18, 2) NOT NULL,
	[SessonId] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.cart] PRIMARY KEY CLUSTERED 
(
	[CartId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Customers]    Script Date: 6/11/2019 4:10:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[Firstname] [nvarchar](max) NOT NULL,
	[Middlename] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[DOB] [date] NOT NULL,
	[email1] [nvarchar](max) NOT NULL,
	[email2] [nvarchar](max) NULL,
	[phone] [bigint] NOT NULL,
	[phone2] [bigint] NOT NULL,
	[NationalIdNo] [nvarchar](max) NULL,
	[tole] [nvarchar](max) NULL,
	[homeno] [nvarchar](max) NULL,
	[State] [nvarchar](max) NULL,
	[Country] [nvarchar](max) NULL,
	[ZipCode] [nvarchar](max) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[EditedBy] [nvarchar](max) NULL,
	[EditedDate] [datetime] NULL,
	[category] [nvarchar](max) NULL,
	[CustomerCategory] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Customers] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Images]    Script Date: 6/11/2019 4:10:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Images](
	[ImageId] [int] IDENTITY(1,1) NOT NULL,
	[ImageName] [nvarchar](max) NULL,
	[Size] [bigint] NOT NULL,
	[Path] [nvarchar](max) NULL,
	[TradingGoodsId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Images] PRIMARY KEY CLUSTERED 
(
	[ImageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[InvoiceGenerates]    Script Date: 6/11/2019 4:10:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceGenerates](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.InvoiceGenerates] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 6/11/2019 4:10:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceNo] [nvarchar](max) NULL,
	[CustomerId] [int] NOT NULL,
	[Vat] [decimal](18, 2) NOT NULL,
	[Subtotal] [decimal](18, 2) NOT NULL,
	[Other] [decimal](18, 2) NOT NULL,
	[GrandTotal] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.Invoices] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Logins]    Script Date: 6/11/2019 4:10:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logins](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[randompass] [nvarchar](max) NULL,
	[Category] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Logins] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PackageImage]    Script Date: 6/11/2019 4:10:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PackageImage](
	[PImageId] [int] IDENTITY(1,1) NOT NULL,
	[ImageName] [nvarchar](max) NULL,
	[Size] [bigint] NOT NULL,
	[Path] [nvarchar](max) NULL,
	[PackageId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.PackageImage] PRIMARY KEY CLUSTERED 
(
	[PImageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Packages]    Script Date: 6/11/2019 4:10:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Packages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PackageCode] [nvarchar](max) NULL,
	[PackageName] [nvarchar](max) NULL,
	[ShortDescription] [nvarchar](max) NULL,
	[LongDescription] [nvarchar](max) NULL,
	[From] [nvarchar](max) NULL,
	[TO] [nvarchar](max) NULL,
	[BegainDate] [nvarchar](max) NULL,
	[Duration] [int] NOT NULL,
	[Rate1] [decimal](18, 2) NOT NULL,
	[Rate2] [decimal](18, 2) NOT NULL,
	[thumbnail] [nvarchar](max) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[EditedBy] [nvarchar](max) NULL,
	[EditedDate] [datetime] NULL,
 CONSTRAINT [PK_dbo.Packages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductInvoice]    Script Date: 6/11/2019 4:10:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductInvoice](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceId] [nvarchar](max) NULL,
	[TradingGoodsId] [int] NOT NULL,
	[Rate] [decimal](18, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Total] [decimal](18, 2) NOT NULL,
	[Invoice_Id] [int] NULL,
 CONSTRAINT [PK_dbo.ProductInvoice] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tickets]    Script Date: 6/11/2019 4:10:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tickets](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CostumerName] [nvarchar](max) NULL,
	[DOB] [date] NOT NULL,
	[Email] [nvarchar](max) NULL,
	[Category] [nvarchar](max) NULL,
	[From] [nvarchar](max) NULL,
	[TO] [nvarchar](max) NULL,
	[DepartureDate] [date] NOT NULL,
	[DepartureTime] [time](7) NULL,
	[ReturnDate] [date] NULL,
	[ReturnTime] [time](7) NULL,
	[NoOfPersons] [int] NOT NULL,
	[NoOfAdult] [int] NULL,
	[NoOfChildern] [int] NULL,
	[NoOfOldPerson] [int] NULL,
	[Nationality] [nvarchar](max) NULL,
	[TotalCost] [decimal](18, 2) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[CreatedDate] [date] NULL,
	[EditedBy] [nvarchar](max) NULL,
	[EditedDate] [date] NULL,
 CONSTRAINT [PK_dbo.Tickets] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TradingGoods]    Script Date: 6/11/2019 4:10:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TradingGoods](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GoodId] [nvarchar](max) NOT NULL,
	[GoodName] [nvarchar](max) NOT NULL,
	[ShortDetail] [nvarchar](max) NOT NULL,
	[LongDetail] [nvarchar](max) NOT NULL,
	[ExpiryDate] [datetime] NULL,
	[MfdDate] [datetime] NULL,
	[Thumbail] [nvarchar](max) NULL,
	[RetailRate] [decimal](18, 2) NOT NULL,
	[WholesaleRate] [int] NULL,
	[Status] [nvarchar](max) NULL,
	[Quantity] [int] NOT NULL,
	[CoupenCode] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[EditedBy] [nvarchar](max) NULL,
	[EditedDate] [datetime] NULL,
	[Vat] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.TradingGoods] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Vats]    Script Date: 6/11/2019 4:10:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vats](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VatPercent] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.Vats] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([Id], [CustumerId], [Name], [RegisterDate], [Categoty], [email1], [email2], [Phone1], [PanNo], [URL], [CustomerType], [Detail], [WorkingArea], [NatureOfWork], [CitizenShipPhoto], [CompanyDocument], [Logo], [PpsizePhoto]) VALUES (1, N'10', N'Rupak poudyal', CAST(N'2019-02-14' AS Date), N'Individual', N'rupakpoudyal5@gmail.com', N'poudyalrupak2@gmail.com', N'2486419477', 1233456, N'jndwu', N'Trading', N'kdc', N'dlcop', N'oed', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Admin] OFF
SET IDENTITY_INSERT [dbo].[cart] ON 

INSERT [dbo].[cart] ([CartId], [GoodName], [price], [Quantity], [Subtotal], [ProductId], [VatAmount], [vat], [SessonId]) VALUES (2, N'meat', CAST(100.00 AS Decimal(18, 2)), 10, CAST(1000.00 AS Decimal(18, 2)), 1, CAST(13.00 AS Decimal(18, 2)), CAST(130.00 AS Decimal(18, 2)), N'rupakpoudyal5@gmail.com')
SET IDENTITY_INSERT [dbo].[cart] OFF
SET IDENTITY_INSERT [dbo].[Images] ON 

INSERT [dbo].[Images] ([ImageId], [ImageName], [Size], [Path], [TradingGoodsId]) VALUES (1, N'/uploads/Tradingb74aee9d-288e-4245-b557-18fa1006239b.png', 0, N'.png', 1)
SET IDENTITY_INSERT [dbo].[Images] OFF
SET IDENTITY_INSERT [dbo].[Logins] ON 

INSERT [dbo].[Logins] ([Id], [Email], [Password], [randompass], [Category]) VALUES (1, N'dbugtest2016@gmail.com', N'66BEAC6E515E135A4DE952C9E2DB3DE91E60688E7BDD635F0423324FE03C6ED8', NULL, NULL)
INSERT [dbo].[Logins] ([Id], [Email], [Password], [randompass], [Category]) VALUES (2, N'', N'', NULL, N'')
INSERT [dbo].[Logins] ([Id], [Email], [Password], [randompass], [Category]) VALUES (3, N'rupakpoudyal5@gmail.com', N'F3FD811E8B639940A268D9DED218202D1203319F4868E9E0B184EC2E0A0E2E72', NULL, N'Admin')
SET IDENTITY_INSERT [dbo].[Logins] OFF
SET IDENTITY_INSERT [dbo].[TradingGoods] ON 

INSERT [dbo].[TradingGoods] ([Id], [GoodId], [GoodName], [ShortDetail], [LongDetail], [ExpiryDate], [MfdDate], [Thumbail], [RetailRate], [WholesaleRate], [Status], [Quantity], [CoupenCode], [CreatedDate], [CreatedBy], [EditedBy], [EditedDate], [Vat]) VALUES (1, N'3', N'meat', N'jshuwd', N'akbdsbdwc', CAST(N'2018-12-07 00:00:00.000' AS DateTime), CAST(N'2018-12-24 00:00:00.000' AS DateTime), N'/Images/Thumbail/Trading/1.png', CAST(100.00 AS Decimal(18, 2)), 10, NULL, 10, N'edbidue', NULL, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[TradingGoods] OFF
SET IDENTITY_INSERT [dbo].[Vats] ON 

INSERT [dbo].[Vats] ([Id], [VatPercent]) VALUES (1, CAST(13.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Vats] OFF
ALTER TABLE [dbo].[AssignPackages]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AssignPackages_dbo.Customers_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AssignPackages] CHECK CONSTRAINT [FK_dbo.AssignPackages_dbo.Customers_CustomerId]
GO
ALTER TABLE [dbo].[AssignPackages]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AssignPackages_dbo.Packages_PackageId] FOREIGN KEY([PackageId])
REFERENCES [dbo].[Packages] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AssignPackages] CHECK CONSTRAINT [FK_dbo.AssignPackages_dbo.Packages_PackageId]
GO
ALTER TABLE [dbo].[Images]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Images_dbo.TradingGoods_TradingGoodsId] FOREIGN KEY([TradingGoodsId])
REFERENCES [dbo].[TradingGoods] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Images] CHECK CONSTRAINT [FK_dbo.Images_dbo.TradingGoods_TradingGoodsId]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Invoices_dbo.Customers_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_dbo.Invoices_dbo.Customers_CustomerId]
GO
ALTER TABLE [dbo].[PackageImage]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PackageImage_dbo.Packages_PackageId] FOREIGN KEY([PackageId])
REFERENCES [dbo].[Packages] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PackageImage] CHECK CONSTRAINT [FK_dbo.PackageImage_dbo.Packages_PackageId]
GO
ALTER TABLE [dbo].[ProductInvoice]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductInvoice_dbo.Invoices_Invoice_Id] FOREIGN KEY([Invoice_Id])
REFERENCES [dbo].[Invoices] ([Id])
GO
ALTER TABLE [dbo].[ProductInvoice] CHECK CONSTRAINT [FK_dbo.ProductInvoice_dbo.Invoices_Invoice_Id]
GO
ALTER TABLE [dbo].[ProductInvoice]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductInvoice_dbo.TradingGoods_TradingGoodsId] FOREIGN KEY([TradingGoodsId])
REFERENCES [dbo].[TradingGoods] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductInvoice] CHECK CONSTRAINT [FK_dbo.ProductInvoice_dbo.TradingGoods_TradingGoodsId]
GO
